# Ignore everything
/*

# Don't ignore cms folder
!/cms/

# Ignore everything inside cms except specific folders
/cms/*
!/cms/src/
/cms/src/*
!/cms/src/Controller/
!/cms/src/Model/
!/cms/src/Templates/Products/
!/cms/config/
!/cms/webroot/css/
!/git_img/
!/cms/tests/testCase/controler/ProductsControlerTest.php
!/cms/tests/TestCase/Model/Table/ProductsTableTest.php    

# Ignore vendor folder in cms
/cms/vendor/

# Ignore temporary files and logs
/cms/tmp/
cms/logs/

# Ignore Composer files in the root
composer.phar

# MacOS system files
.DS_Store

# Ensure .gitignore itself is not ignored
!.gitignore
