# Ignore everything
# /*


# Ignore vendor folder in cms
cms/vendor/

# Ignore temporary files and logs
cms/tmp/
cms/logs/

# Ignore Composer files in the root
composer.phar

# MacOS system files
.DS_Store



Don't ignore these folders
!/cms/src/Controller/
!/cms/Model/
!/cms/Templates/Products
!/cms/config
!/cms/webroot/css
!/cms/webroot/css
!.gitignore

